<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">
  <meta charset="UTF-8"/>
  <title th:text="${title}">My Cheeses</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<nav th:fragment="navigation">
  <a href="/cheese">Home</a> |
  <a href="/category/">Categories</a> |
  <a href="/menu">Menus</a>
</nav>

<table th:fragment="cheeseTable" class="table">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Category</th>
  </tr>
  <tr th:each="cheese : ${cheeses}">
    <td th:text="${cheese.name}"></td>
    <td th:text="${cheese.description}"></td>
    <td><a th:href="@{/cheese/category(id=${cheese.category.id})}"
           th:text="${cheese.category.name}"></a></td>
  </tr>
</table>

</body>
</html>